<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p id="vision-title">Vinyl Vibes</p>
        </div>
        <div class="footer-center">
            <ul class="mediaIcons">
                <li class="icon-item"><i class="fa-brands fa-facebook"></i></li>
                <li class="icon-item"><i class="fa-brands fa-instagram"></i></li>
                <li class="icon-item"><i class="fa-brands fa-twitter"></i></li>
            </ul>
        </div>
        <div class="footer-right">
            <p id="copyright">&copy; 2024 All rights reserved</p>
        </div>
    </div>
</footer>
</body>
</html>