<%- include('./partials/header.ejs')%>
    <div class="container">
        <div class="left-side">
            <div class="message-container">
                <h1 class="message-title typewriter">Vinyl Vibes</h1>
                <p class="message-text"> Welcome to your go-to spot for all things vinyl! Browse through our extensive collection and find the perfect record to add to your collection. </p>
                <a href="/vinyls" class="browse-button">
                    Begin Browsing <i class="fa-solid fa-arrow-right"></i>
                 </a>
            </div>
            <div class="small-image">
                <img src="/images/steve-lacy.jpg" alt="Steve Lacy Vinyl" class="left-vinyl-image">
            </div>
        </div>
        <div class="right-side">
            <div class="large-image">
                <img src="/images/vinyl-image.jpg" alt="Record Store" class="large-vinyl-image">
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
